<div class="container" ng-controller="protocolController">
    <select class="form-control indent10" ng-model="searchCategory">
        <option value="" disabled selected>Choose category</option>
        <option ng-repeat="category in categories">{{category.name}}</option>
    </select>
    <table class="table table-hover indent10">
        <thead>
            <tr>
                <th>ФИО, № спортсмена</th>
                <th>Оценка судьи №1</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="competitor in competitors | filter: searchCategory">
                <td>{{competitor.name}} {{competitor.number}}</td>
                <td>{{competitor.index}}</td>
            </tr>
        </tbody>
    </table>
</div>